/* color palette for nightvision */
:root {
  --nv-c-black: #030301;
  --nv-c-darkgrey: #161817;
  --nv-c-grey: #272b28;
  --nv-c-lightgrey: #ada399;
  --nv-c-green: #60bf22;

  --player-1-light: #519ed5;
  --player-1: #1a66a9;
  --player-1-dark: #18416d;
  --player-2-light: #d1435d;
  --player-2: #a41630;
  --player-2-dark: #531122;
  --player-2-extra-dark: #290911;

  --nv-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --nv-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --nv-c-text-dark-1: var(--nv-c-lightgrey);
  --nv-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables */
:root {
  --color-background: var(--nv-c-darkgrey);

  --color-border: var(--nv-c-divider-dark-2);
  --color-border-hover: var(--nv-c-green);

  --color-heading: var(--nv-c-text-dark-1);
  --color-text: var(--nv-c-text-dark-1);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  transform: rotate(0);
  transform-origin: left top;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 967px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    width: 100vh;
    height: 100vw;
    top: 100%;
  }
}

body {
  height: 100%;
  width: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===================== Buttons ===================== */

button {
  display: flex;
  place-content: center;
  place-items: center;
  
  color: var(--nv-c-lightgrey);

  background-color: var(--nv-c-grey);
  border-radius: 5px;
  border: none;
}

@media (hover: hover) {
  button:hover {
      background-color: var(--nv-c-lightgrey);
      color: var(--nv-c-grey);
      cursor: pointer;
  }
}

button:active {
  background-color: var(--nv-v-darkgrey);
  color: var(--nv-c-lightgrey);
}

.btn-large, .btn-landing {
  width: 250px;
  height: 70px;
  padding: 10px;

  font-size: 2em;
}

.btn-small {
  width: 120px;
  height: 40px;
  padding: 3px;

  font-size: 1em;
}

@media screen and (max-width: 1280px) {
  .btn-large {
    width: 125px;
    height: 35px;
    padding: 5px;

    font-size: 1em;
  }

  .btn-small {
    width: 80px;
    height: 30px;
    padding: 2px;

    font-size: .7rem;
  }
}