/* color palette */
:root {
  --black: #030301;
  --darkgrey: #121B17;
  --grey: #262724;
  --lightgrey: #7A7B78;
  --white: #D5D7D1;
  --lightgreen: #87A068;
  --green: #004E26;
  --orange: #D85F1C;
  --yellow: #FADB72;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Lato';
}

html {
  transform: rotate(0);
  transform-origin: left top;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 967px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    width: 100vh;
    height: 100vw;
    top: 100%;
  }
}

body {
  height: 100%;
  width: 100%;
  color: var(--white);
  background: var(--darkgrey);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===================== Buttons ===================== */

button {
  display: flex;
  place-content: center;
  place-items: center;
  
  color: var(--white);

  background-color: var(--grey);
  border-radius: 5px;
  border: none;
}

@media (hover: hover) {
  button:hover {
      cursor: pointer;
  }
}

button:active {
  background-color: var(--darkgrey);
  color: var(--white);
}

.btn-large {
  width: 125px;
  height: 35px;
  padding: 5px;

  font-size: 1em;
}

.btn-small {
  width: 80px;
  height: 30px;
  padding: 2px;

  font-size: .7rem;
}

@media screen and (min-width: 1280px) {
  .btn-large {
    width: 250px;
    height: 70px;
    padding: 10px;
  
    font-size: 2em;
  }

  .btn-small {
    width: 120px;
    height: 40px;
    padding: 3px;
  
    font-size: 1em;
  }
}

@font-face {
  font-family: "Caveat";
  src: url('./fonts/Caveat-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url('./fonts/Lato/Lato-Bold.ttf');
}